.setting {
    display: flex;
    gap: 18px;
}

.stats {
    display: flex;
    gap: 20px;
}

.divStats {
    padding-bottom: 10px;
    width: 150px;
    background-color: #46573a;
    border: 1px solid #6b7d52;
    padding: 12px;
    box-shadow: 1px 1px 3px #d5dbd5a9;
}

.shilds {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid #6b7d52;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    padding: 8px 6px;
    background-color: #3b4c33;
}


.hintsLeft {
    display: flex;
    gap: 10px;
    justify-content: center;
    border: 1px solid #6b7d52;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    padding: 8px 6px;
    background-color: #3b4c33;
}


.hint {
    background-color: #f0ff6b;
    height: 100%;
    width: 20px;
    border-radius: 100%;
    border: 2px solid #50a25b;
}

.life {
    background-color: #3946d0;
    height: 100%;
    width: 20px;
    border-radius: 8px;
    border: 2px solid #a5a8b8;
}



.mainBoard {
    border: 1px solid #6b7d52;
    border-radius: 6px;
    padding: 5px;
    background-color: #3a4a2f;

}


.cell {
    border: 1px solid #6b7d52;
    text-align: center;


    font-size: x-large;
    height: 40px;
    width: 40px;
    border-radius: 2px;
    background-color: #4a5b3a;
    color: #f5f3e0;
}

.cell:hover {
    background-color: #819969;
}

.cell:active {
    background-color: #343d2c;
}