body {
    margin: 0;
    font-family: "Inter";
    place-items: center;
    color: #e4f1b4;
}



.backgroundPng {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.levelImg {
    height: 40px;
    width: 40px;
}

.soldierPic {
    height: 80px;
    width: 80px;

}

.soldier:hover {
    scale: 1.05;
    filter: brightness(1.20);
}

.content {
    background-color: #3a4a2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 40px;
    text-align: center;
    border: 1px solid #7b905d;
    gap: 20px;
    border-radius: 16px;
    box-shadow: 3px 4px 1px rgba(64, 78, 49, 0.698);

}

button {
    border: 3px #c7d36f;
    font-size: large;
    background-color: #8b9850;
    box-shadow: 2px 2px 2px rgb(147, 163, 145);
    border-radius: 5px;
    padding: 4px 8px;
    color: #e4f1b4;
}



button:hover {
    border: 3px #f2fba8;
    background-color: #bfcd80;
    box-shadow: 2px 2px 2px rgb(156, 165, 88);
}


.popNewGame {
    position: absolute;
    display: none;
    animation: fadeIn 3s ease-out forwards;
    gap: 10px;
    justify-self: center;
    background-color: #417e2f;
    padding: 20px 80px;
}

.buttonsPop {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

td {
    border: 1px solid #e4f1b4;
    padding: 6px;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}